*{
	
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*fix di classe*/

.flex-fix{
	display: flex;
}

.flex-direction-list{
	justify-content: space-between;
    align-items: center;}

.flex-direction-nocenter{
	justify-content: space-between;

}	

.bottoni-blu{
	cursor: pointer;
    color: white;
    background-color: #0061FF;
    border-style: none;
    padding: 6px 18px 6px 18px;
	text-align: center;
}
.bottone-invisibile{
	cursor: pointer;
    color: rgb(0, 0, 0);
	border: 1px solid black;
    padding: 6px 18px 6px 18px;
	text-align: center;
}

.text-cente-fix{
	text-align: center;
}
/*fix-permanenti*/


ul{
	list-style-type: none;
}


nav{
	padding: 30px 20px;
}

img{
	width: 100%;
}
header a{
	color: inherit;
    text-decoration: none;
}

h1{
	font-size: 70px;
	text-align: justify;
}

h2{
	font-size: 45px;
}
/*header-fix*/

nav li{
	margin: 0 15px;
}

header{
	background-color: #b4d0e7;
	height: 800px;
}
/*main fix*/
main{
	margin-top: 15%;
	margin-bottom: 6%;
	margin-left: 25%;
	margin-right: 25%;
}


/*nav*/

nav{
	background-color: white;
}
/*header classi*/
.padding-list-header{
	padding: 0 20px;
}

.ul-margin-top{
	margin-top: 5px ;
}

/*box*/
.box{
	padding-top: 5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}
.box-testo{
	margin-top: 30px;
	padding: 5px;
}
.text-A{
	font-size: 18px;
	font-family: initial;
}

.margine-top-box{
	margin-top: 40px;
}
.margin-top-bottoneblu{

	margin-top: 10px;
}

.freccia-box{
	font-size: 35px;
	margin-top: 35px;
}



.box-img{
	width: 850px;
	margin-right: 18%;
	margin-top: 40px;
	position: relative;
}

.immagine-jumbo{

	position: absolute;
	top: 40px;
}

/*main classi*/

.bordo-acceso{
	color: #0061FF;
	margin-right: 4px;
	
}

.bordo-spento{
	margin-right: 4px;
	margin-left: 9px;

}

.metodo-fatturazione{
	margin-top: 25px;
}

.mensile-annuale{
	font-style: italic;
}

/*tabelle con i piani*/

.contenitore-tabelle{
	margin-top: 40px;
	width: 900px;
	height: 900px;
	

}


.tabella-piano{
	width: calc(100% / 3);
	height: 100%;
	border: lightgray 1px solid;
	margin-right: 40px;
	
}

.titolo-tabella{
	height: 40px;
	border-bottom: lightgray 1px solid;
	text-align: center;
	padding: 10px 0px;
}

.contenuto-tabella{
	padding: 25px;
	
}

.ti-tabella{
	font-size: 25px;
	
	
}
.color-mese{
	color: black;
	margin-top:15px ;
	margin-bottom: 10px;
}

.color-prezzo{
	color: lightgray;
	font-size: 14px;
	
}

.sezione-1{
	margin-bottom: 35px;
}

/*sezione2*/

.font-descrizioni-offerta{
	font-size: 12px;
	margin-top: 10px;
}
.font-descrizioni-offerta-1{
	font-size: 12px;
	margin-top: 2px;
	
}
.sezione-2{
	margin-bottom: 40px;
}

/*sezione 3 */

.tabelle-separo{
	width: 50px;
	margin-top: 30px;
	margin-bottom: 50px;
	
}

/*sezione 4 */

.color-blu-chek{
	color: #0061FF;
}
.fix-li-margin{
	margin-bottom: 25px;
}

/*Enterprise-contatti*/
.Enterprise-contatti{
	margin-top: 40px;
	width: 860px;
	height: 220px;
	border: 1px solid lightgray;
	
}

.titolo-4-tabella{
	border-bottom: 1px solid lightgray;
	height: 20%;
	padding-top: 12px;
}

.contenuto-4-tabella{
	width: 100%;
	height: 80%;
	padding: 30px;
}

.contenuto-4-txt{
	width: 65%;
	height: 100%;
	

}

.contenuto-4-bottone{
	width: 35%;
	height: 100%;
	
}

.titolo-4-spiegazione{
	font-size: 28px;
}

.contenuto-4-tabella a{
	color: inherit;
    text-decoration: none;
	color: white;
}

/*nuova sezione*/
.partnership a{
	color: inherit;
    text-decoration: none;
}
.partnership{
	margin-top: 150px;
	width: 860px;
}

.per-contatto-partner{
	width: 100%;
	height: 500px;	
}
.img-contatto-p{
	width: 55%;
	
}

.txt-contatto-p{
	width: 45%;
	padding: 35px;
	
}

.title-contatto-h3{
	font-size: 25px;
	margin-bottom: 20px;
}
.txt-contatto-pa{
	font-size: 20px;
	margin-bottom: 40px;
}