*{
	
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*fix di classe*/

.flex-fix{
	display: flex;
}

.flex-direction-list{
	justify-content: space-between;
    align-items: center;}

.bottoni-blu{
	cursor: pointer;
    color: white;
    background-color: #0061FF;
    border-style: none;
    padding: 6px 18px 6px 18px;
	text-align: center;
}
/*fix-permanenti*/


ul{
	list-style-type: none;
}


nav{
	padding: 30px 20px;
}

img{
	width: 100%;
}
a{
	color: inherit;
    text-decoration: none;
}

/*header-fix*/

nav li{
	margin: 0 15px;
}

header{
	background-color: #b4d0e7;
	height: 500px;
}

nav{
	background-color: white;
}
/*header classi*/

/*nav*/

.padding-list-header{
	padding: 0 20px;
}

.ul-margin-top{
	margin-top: 5px ;
}

/*box*/