*{
	
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fix di classe*/

.flex-fix{
	display: flex;
}

.flex-direction-list{
	justify-content: space-between;
    align-items: center;}


/*fix-permanenti*/


ul{
	list-style-type: none;
}


nav{
	padding: 20px;
}

img{
	width: 100%;
}
a{
	color: inherit;
    text-decoration: none;
}

/*header-fix*/

nav li{
	margin: 0 15px;
}

header{
	background-color: #b4d0e7;
	height: 500px;
}

nav{
	background-color: white;
}
/*header classi*/



.padding-list-header{
	padding: 0 20px;
}
